<html>
  <head>
    <%
      title = "0x40 Url Shortener"
    %>
    <title>${title}</title>
    
    <style type="text/css">
      .respacks { margin:20px; }
      #urlinput { min-width: 200px; }
    </style>

    <script src="/static/js/0x40Colors.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>${title}</h1>

      <form action="/api/new" method="post" enctype="multipart/form-data">
        Shorten an url:
        <div>
          <input id="urlinput" type="url" name="url" />
          <input type="submit" value="Shorten!"/>
        </div>
      </form>
  </body>
  <script type="text/javascript"> randomBgColor() </script>
</html>