<html>
  <head>
    <title>Lounge listing</title>
    
    <style type="text/css">
      .respacks { margin:20px; }
      #urlinput { min-width: 200px; }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Lounges:</h1>

      <div>
        % for r in rooms:
        <div>
          <a href="/r/${r.key}">[${r.key}]</a> ${r.name | h} - ${len(r.users)}
          <ol>
            % for u in r.users:
            <li>${u.uuid} - ${u.ws.rhost | h}:${u.ws.rport}</li>
            % endfor
        </div>
        % endfor
      </div>
  </body>
  <script type="text/javascript"> randomBgColor() </script>
</html>